* {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Yeseva One', cursive;
}
button {
    width: 338px;
    height: 60px;
    border-radius: 0;
    background: #e3b873;
    color: white;
    font-family: 'Nunito Sans';
    border: none;
}
    /*начало меню*/
    .header-lg{
        width: 100%;
        height: 83px;
        background: #000;
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    .logo-lg{
        display: inline-block;
        position: relative;
        top: 30px;
        font-family:Nunito Sans;
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
        color: #E3B873;
        width: 179px;
        height: 10px;
    }
    .nawbar{
        position: relative;
        right: 70px;
        top: 25px;
        width: 640px;
        height: 10px;
    }
    .navbar-col{
        font-family:'Nunito Sans';
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
        color: white;
        padding: 0 auto;
        margin: 0 auto;
        margin-left: 50px;
    }
    .navbar-col:hover{
        color: #E3B873;
    }
    .phone-lg {
        top: 34px;
        display: inline-block;
        position: relative;
        right: 80px;
        font: 'Nunito Sans';
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
        width: 126px;
        height: 16px;
    }
    .tel-lg {
        text-decoration: none;
        color:white;
    }
    .navbar-button {
        width: 160px;
        height: 40px;
        display: inline-block;
        position: relative;
        right: 90px;
        top: 20px;
    }
    /*конец меню*/
    /*начало первого блока*/
    .main1-lg {
        width: 100%;
        height: 707px;
        position: relative;
        background: rgba(0, 0, 0, 0.9);
        display: block;
    }
    .img-lg {
        position: absolute;
        width: 100%;
        height: 707px;
    }
    .img-ms{
        visibility: hidden;
    }
    .img-lg-1{
        position: absolute;
        width: 100%;
        filter: opacity(30%);
    }
    .text-lg {
        height: 255px;
        width: 675px;
        margin-right:18px;
        position: relative;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
    }
    .text-lg h1 {
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 53px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .text-lg h1 span {
        text-transform: uppercase;
        color: #E3B873;
    }
    .text-paagraf1-button-main1-lg{
        position: absolute;
        top: 190px;
        right: 608px;
        width: 676px;
        height: 305px;
        text-align: left;   
    }
    .text-lg {
        position: absolute;
        width: 568px;
        height: 105px;
        margin: 0px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
    }
    .paragraf1-lg{
        position: absolute;
        width: 486px;
        height: 89px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 36px;
        color: #FFFFFF;
        margin-top: 115px;
    }
    .paragraf1-lg p{
        width: 544px;
        height: 90px;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .button-main1-lg{
        position: absolute;
        display: inline-block;
        top: 245px;
    }
    .button1-lg{
        border-radius: 0;
        background: none;
        color: white;
        border: 2px solid white;
        width: 207px;
        height: 51px;
        font-family: 'Nunito Sans';
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
        text-align: center;
        color: #FFFFFF;
    }
    .button2 {
        visibility: hidden;
    }
    .button3-lg {
        position: absolute;
        bottom: 3px;
        left: 225px;
        background: none;
        border: 2px solid white;
        border-radius: none;
        margin-top: 26px;
        width: 207px;
        height: 51px;
        font-family: 'Nunito Sans';
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
        text-align: center;
    }
    .button-main1-lg button:hover{
        background: #E3B873;
    }
    /*конец первого блока*/
    /*начало второго блока*/
    .main2-lg {
      width: 100%;
      height: 1074px; 
      background: #000; 
    }
    .carusel-nav-lg{
        width: 700px;
        list-style-type: none;
        position: relative;
        top: 100px;
        left: 200px; 
    }
    .carousel-item-lg{
        display: inline;
        text-align: left;
        margin-left: 60px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.3);
    }
    .carousel-item-lg:hover{
        color: #e3b873;
        
    }
    .text1-lg{
        position: relative;
        top: 176px;
        right: 460px;
        width: 253px;
        text-transform: uppercase;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 27px;
        line-height: 37px;
        letter-spacing: -0.07em;
        text-transform: uppercase;
        color: #E3B873;
    }
    .paragraf2-lg{
        position: relative;
        top: 185px;
        right: 400px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 27px;
        color: #FFFFFF;
    }
    .paragraf2-lg p{
        width: 370px;
        margin-bottom: 20px;
    }
    /*слайдер1 начало*/
    .carousel1{
        visibility: hidden;
    }
    .carousel-lg{
        position: relative;
        bottom: 60px;
        left: 250px;
        width: 680px;
        height: 480px;
    }
    .carousel-indicators{
        position: relative;
        top: 0px;
    }
    .carousel-indicators button{
        border-radius: 50px;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        background: rgba(255, 255, 255, 0.3);
    }
    .carousel-inner-lg{
        position: relative;
    }
    /*слайдер1 конец*/
    .city-lg {
        position: relative;
        bottom: 280px;
        right: 390px;
        width: 393px;
        height: 196px;
    }
    .city-lg p{
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        color: #FFFFFF;
        margin-top: 10px;
    }
    .city-lg span{
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        color: #E3B873;
    }
    
    .city2-lg {
        color: #E3B873;
    }
    .text3-lg{
        margin-left: 124px;
        width: 130px;
    }
    .city3-lg{
        position: relative;
        color: white;
        width: 130px;
        right: 130px;
    }
    .text4-lg{
        width: 160px;
        height: 40px;
    }
    .text4-lg p{
        margin-bottom: 1rem;
        width: 139px;
    }
    .text5-lg{
        position: relative;
        bottom: 58px;
        left: 175px;
    }
    .city4{
        position: absolute;
        width: 400px;
    }
    .text7-lg{
        margin-left: 50px;
    }
    .city5{
        position: absolute;
        width: 400px;
        margin-top: 23px;
    }
    .text9-lg {
        position: relative;
        bottom: 35px;
        left: 179px;
    }
    .text10-lg{
        text-transform: uppercase;
        color: white;
        position: relative;
        bottom: 140px;
        width: 150px;
    }
    .text10-lg p{
        position: relative;
        right: 18px;
        top: 5px;
    }
    .left-lg {
        position: relative;
        display: inline-block;
        border: none;
        width: 32px;
        height: 1px;
        background: #E3B873;
        border-radius: 2px;
    }
    .image-lg{
        vertical-align: middle;
        border-style: none;
        width: 30px;
        height: 30px;
    }
    .right-lg {
        position: relative;
        display: inline-block;
        border: none;
        width: 32px;
        height: 1px;
        background: #E3B873;
        border-radius: 2px;
    }
    /*видео начало*/
    .video-lg {
        width: 658px;
        height: 400px;
    }
    .video-lg video{
        position: relative;
        bottom: 100px;
        width: 658px;
        height: 400px;
        border: none;
        box-shadow: 15px 15px 15px 15px  rgba(0, 0, 0, 0.1);
        
    }
    .video-button-lg {
        position: absolute;
        top: 225px;
        right: 45%;
        width:37px;
        height:37px;
        background: #E3B873;
        box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
        border-radius: 50%;
    }
    /*видео конец*/
    /*форма1 начало*/
    .razdel-lg {
        position: relative;
        display: block;
        border: none;
        left: 32px;
        bottom: 40px;
        width: 55px;
        height: 2px;
        background: #E3B873;
        border-radius: 2px;
    }
    .paragraf3-lg{
        position: relative;
        left: 30px;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 11px;
        text-align: center;
        width: 340px;
        
    }
    .paragraf3-lg p{
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 37px;
        text-align: center;
        color: #363636;
    }
    /*форма1 начало*/
    .input-lg {
        position: relative;
        display: inline;
    }

    .input-lg input{
        position: relative;
        display: block;
        border: none;
    }
    .input-lg h6 {
        font-family: 'Nunito Sans';
        opacity: 50%;
    }
    .name-lg {
        position: absolute;
        bottom: 144px;
        left: 14px;
        color: rgba(0, 0, 0, 0.9);
    }
    .number-lg {
        position: relative;
        bottom: 28px;
        left: 246px;
        color: rgba(0, 0, 0, 0.9);
    }
    .form-lg {
        position: relative;
        width: 550px;
        right: 70px;
    }
    .top-lg {
        position: relative;
        margin-top: 60px;
        top: 20px;
        margin-left: 15px;
        width: 180px;
        background: none;
        color: black;
    }
    .input-top-lg{
        position: absolute;
        margin-left: 18px;
        width: 170px;
        background: #ffffff;
        border-radius: 2px;
        border: 1px solid rgba(54, 54, 54, 0.7);
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
    .bottom-lg {
        position: relative;
        margin-top: 30px;
        bottom: 55px;
        left: 250px;
        width: 346px;
        background: none;
        color: black;
        width: 180px;
    }
    .input-bottom-lg{
        position: absolute;
        top: 26px;
        left: 250px;
        width: 170px;
        background: #ffffff;
        border-radius: 2px;
        border: 1px solid rgba(54, 54, 54, 0.7);
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
    .checkbox-lg {
        position: relative;
        display: inline-flex;
        width: 340px;
        bottom: 28px;
        left: 252px;
        color: black;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 163.68%;
    }
    .checkbox-lg p{
        position: relative;
        top: 5px;
        margin-left: 8px;
    }
    .form-control-lg {
        bottom: 8px;
        width: 18px;
    }
    .submit-lg {
        position: relative;
        bottom: 130px;
        left: 130px;
        width: 200px;
        height: 50px;
    }
    /*форма1 конец*/
    /*конец второго блока*/
    /*начало третьего блока*/
    .main3-lg {
        width: 100%;
        height: 2100px;
        margin: 0 auto;
    }
    .image-vector-lg {
        position: relative;
        left: 0px;
        top: 5px;
        width: 30px;
        height: 30px;
    }
    .image-vector-lg img{
        position: relative;
        top: 12px;
    }
    .right-vector-lg {
        position: relative;
        display: inline-block;
        left: 0px;
        border: none;
        width: 32px;
        height: 2px;
        background: #E3B873;
        border-radius: 2px;
    }
    .left-vector-lg {
        position: relative;
        display: inline-block;
        left: 0px;
        border: none;
        width: 32px;
        height: 2px;
        background: #E3B873;
        border-radius: 2px;
    }
    .right-vector-lg {
        position: relative;
        display: inline-block;
        border: none;
        width: 32px;
        height: 2px;
        background: #E3B873;
        border-radius: 2px;
    }
    .types-lg{
        position: absolute;
        left: 1584px;
        bottom: 50px;
    }
    .types-lg{
        top: 740px;
        position: relative;
        display: inline-block;
        left: 640px;
        text-transform: uppercase;
        color: black;
        font-family: 'Yeseva One', cursive;
        font-size: 22px;
        text-align: center;
        width: 257px;
        height: 67px;
    }
    .types-lgp{
        position: absolute;
        bottom: 15px;
        width: 257px;
        height: 67px;
    }
    .types-repair-lg{
        width: 1440px;
        left: 0px;
        position: relative;
        top: 550px;
    }
    .types-repair-lg img{
        width: 392px;
        height: 491px;
    }
    .types1-repair1-lg{
        position: relative;
        right: 452px;
            width: 400px;
    height: 420px;
    }
    .image-vector-lg img{
        position: relative;
        top: 12px;
    }
    .types1-lg {
        position: relative;
        top: 194px;
        width: 340px;
    }
    .repair1-lg{
        position: relative;
        top: 50px;
        right: 6px;
        background: white;
        width: 330px;
        height: 280px;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
    }
    .repair1-lg h6{
        position: relative;
        top: 21px;
        left: 36px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 138.6%;
    }

    .repair1-lg ul{
        position: relative;
        top: 21px;
        width: 250px;
        height: 152px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 169.8%;
        opacity: 50%;
    }
    .repair1-lg button{
        position: relative;
        top: 15px;
        width: 190px;
        height: 40px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 138.6%;
    }
    .types2-repair2-lg{
        position: relative;
        bottom: 383px;
        right: 30px;
        width: 400px;
        height: 420px;
    }
    .types2-lg {
        position: relative;
        top: 159px;
        width: 340px;
    }
    .repair2-lg{
        position: relative;
        top: 15px;
        right: 6px;
        background: white;
        width: 330px;
        height: 280px;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
    }
    .repair2-lg h6{
        position: relative;
        top: 21px;
        left: 36px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 138.6%;
    }

    .repair2-lg ul{
        position: relative;
        top: 21px;
        width: 250px;
        height: 152px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 169.8%;
        opacity: 50%;
    }
    .repair2-lg button{
        position: relative;
        top: 15px;
        width: 190px;
        height: 40px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 138.6%;
    }
    .types3-repair3-lg{
        position: relative;
        bottom: 641px;
        left: 420px;
        width: 400px;
        height: 420px;
    }
    .types3-repair3-lg img{
        position: relative;
        width: 391px;
        height: 491px;
    }
    .types3-lg {
        position: absolute;
    }
    .repair3-lg{
        position: relative;
        top: 345px;
        right: 36px;
        background: white;
        width: 330px;
        height: 280px;
        box-shadow: 5px 10px 20px rgb(0 0 0 / 5%);
    }
    .repair3-lg h6{
        position: relative;
        top: 21px;
        left: 36px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 138.6%;
    }

    .repair3-lg ul{
        position: relative;
        top: 21px;
        width: 250px;
        height: 152px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 169.8%;
        opacity: 50%;
    }
    .repair3-lg button{
        position: relative;
        top: 15px;
        width: 190px;
        height: 40px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 138.6%;
    }
    
    /*конец третьего блока*/
    /*блок3.1 начало*/
    .main3-1-lg{
        width: 1440px;
        height: 850px;
        margin: 300px auto;
        justify-content: space-between;
        position: absolute;
    }
    .image-form{
        width: 100%;
        position: absolute;
    }
    .image-6-1{
        position: absolute;
        width: 700px;
        height: 600px;
    }
    .group{
        position: absolute;
        width: 380px;
        height: 470px;
        left: 90px;
        padding: 0px 0;
    }
    .group span{
        position: relative;
        display: block;
        border: 8px solid white;
        box-shadow: 0px 5px 15px rgb(227 184 115 / 15%);
        border-radius: 50%;
        width: 42px;
        height: 42px;
        background: #e3b873;
        margin: 27px 0;
        top: 75px;
        left: 150px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
    }
    .group p{
        position: relative;
        display: block;
        width: 315px;
        height: 40px;
        top: 20px;
        left: 210px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #363636;
    }
    .group span:first-child{
        top: 85px;
    }
    .group p:last-child{
        top: 10px;
    }
    
    .input1-2 {
        position: absolute;
        top: 82px;
        right: 0px;
        background: black;
        width: 500px;
        height: 500px;
        padding: 20px 30px;
    }
    .leave{
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #FFFFFF;
        width: 215px;
    }
    .input1-2 input{
        position: relative;
        display: block;
        border: none;
    }
    .input1-2 h6 {
        color: white;
        font-family: 'Nunito Sans';
        opacity: 50%;
    }
    .name1-2 {
        position: relative;
        top: 80px;
        left: 16px;
    }
    .number1-2 {
        position: relative;
        top: 55px;
        left: 16px;
    }
    .form1-2 {
        position: absolute;
        top: 40px;
    }
    .top1-2 {
        position: relative;
        margin-top: 60px;
        top: 20px;
        margin-left: 15px;
        width: 400px;
        background: none;
        color: white;
    }
    .input-top1-2{
        position: absolute;
        margin-left: 18px;
        width: 400px;
        background: #ffffff;
        border-radius: 2px;
        border: 1px solid rgba(54, 54, 54, 0.7);
        transform: matrix(1, 0, 0, -1, 0, 0);
        }
    .middle1-2 {
        position: relative;
        margin-top: 30px;
        top: 20px;
        margin-left: 15px;
        width: 400px;
        background: none;
        color: white;
    }
    .input-middle1-2{
        position: absolute;
        margin-left: 18px;
        width: 400px;
        background: #ffffff;
        border-radius: 2px;
        border: 1px solid rgba(54, 54, 54, 0.7);
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
    .questions1-2 {
        position: relative;
        top: 55px;
        left: 16px;
    }
    .bottom1-2 {
        position: relative;
        margin-top: 30px;
        top: 20px;
        margin-left: 15px;
        width: 400px;
        background: none;
        color: white;
    }
    .input-bottom1-2{
        position: absolute;
        margin-left: 18px;
        width: 400px;
        background: #ffffff;
        border-radius: 2px;
        border: 1px solid rgba(54, 54, 54, 0.7);
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
    .checkbox1-2 {
        position: relative;
        display: inline-flex;
        width: 340px;
        top: 55px;
        left: 20px;
        color: white;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 163.68%;
    }
    .checkbox1-2 p{
        position: relative;
        margin-left: 5px;
    }
    .form-control1-2 {
        bottom: 8px;
        width: 18px;
    }
    .submit1-2 {
        position: relative;
        top: 90px;
        width: 210px;
        right: 133px;
        height: 50px;
    }
    .copilka{
        position: absolute;
        width: 450px;
        height: 75px;
        top: 615px;
        right: 0px;
    }
    .pig-dollar{
        position: absolute;
        background: #E3B873;
        box-shadow: 0px 10px 20px rgb(237 192 120 / 20%);
        border-radius: 50%;
        width: 72px;
        height: 72px;
    }
    .pig{
        position: absolute;
        top: 18px;
        width: 40px;
        height: 32px;
        position: absolute;
        left: 17px;
    }
    .dollar{
        position: absolute;
        left: 30px;
        top: 28px;
        width: 8px;
        height: 11px;
    }
    .helpsave{
        position: absolute;
        left: 95px;
        top: 12px;
        width: 220px;
        height: 50px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #E3B873;
        text-shadow: 0px 3px 10px rgb(227 184 115 / 15%);
    }
    /*блок3.1 конец*/
    /*блок3.2 начало*/
    .main3-2-lg{
        position: relative;
        top: 1250px;
        height: 864px;
        background: rgba(0, 0, 0, 0.9);
    }
    .main3-2-lg img{
        opacity: 30%;
        height: 864px;
    }
    .nav-main3-2{
        position: absolute;
        display: inline-block;
        top: 140px;
        left: 100px;
    }
    .nav-main3-2 h1{
        position: absolute;
        text-align: left;
        width: 230px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
        text-transform: uppercase;
        color: #E3B873;
    }
    .link-main3-2{
        position: absolute;
    }
    .link-main3-2 a{
        position: relative;
        display: block;
        top: 90px;
        padding: 5px 0;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 38px;
        color: #FFFFFF;
    }
    .link-main3-2 a:hover{
        color: #e3b873;
    }
    /*блок3.2 конец*/
    .realize{
        visibility: hidden;
    }
    /*блок3-3 начало*/
    .main3-3-lg{
        position: relative;
        width: 1440px;
        height: 1060px;
        top: 1345px;
    }
    .main3-3-lg .types-lg{ 
        position: relative;
        top: 110px;
        left: 600px;
    }
    .ourclients {
        position: absolute;
        bottom: 14px;
        left: 43px;
        width: 170px;
        height: 60px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;

    }
    .client80{
        width: 470px;
        height: 60px;
        left: -100px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        text-align: center;
        color: #363636;
        position: relative;
        margin: 25px 0;
    }
    .main3-3-lg-img1{
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 720px;
        height: 800px;
    }
    .main3-3-lg-img2{
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 720px;
        height: 800px;
    }
    .work{
        position: absolute;
        top: 30px;
        left: 100px;
        display: flex;
        justify-content: flex-end;
        width: 1240px;
        height: 650px;
        flex-direction: row;
        align-items: flex-end;
    }
    .repair2-1-lg{
        position: absolute;
        left: 0;
        background: white;
        width: 380px;
        height: 430px;
        box-shadow: 5px 10px 20px rgb(0 0 0 / 5%);
    }
    .repair2-1-lg-img{
        position: relative;
        top: 20px;
        left: 20px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    .repair2-1-lg h6{
        position: absolute;
        top: 25px;
        left: 120px;
        width: 184px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 138.6%;
    }

    .opisanie1{
        position: relative;
        top: 40px;
        width: 320px;
        height: 152px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 169.8%;
        opacity: 50%;
        padding: 0px 20px;
    }
    .repair2-1-lg span{
        position: absolute;
        top: 375px;
        width: 150px;
        height: 55px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 138.6%;
        background: #e3b873;
    }
    .repair2-1-lg span:last-child{
        left: 155px;
    }
    .group21{
        position: absolute;
        width: 32px;
        height: 32px;
        z-index: 1;
        left: 18px;
        top: 10px;
    }
    .m2 {
        position: absolute;
        bottom: 0px;
        left: 65px;
        z-index: 1;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .group{
        position: absolute;
        width: 32px;
        height: 32px;
        z-index: 1;
        left: 18px;
        top: 10px;
    }
    .days{
        position: absolute;
        bottom: 0px;
        left: 65px;
        z-index: 1;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .repair2-2-lg{
        position: relative;

        background: white;
        width: 380px;
        height: 430px;
        box-shadow: 5px 10px 20px rgb(0 0 0 / 5%);
    }
    .repair2-2-lg-img{
        position: relative;
        top: 20px;
        left: 20px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    .repair2-2-lg h6{
        position: absolute;
        top: 25px;
        left: 120px;
        width: 184px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 138.6%;
    }

    .opisanie2{
        position: relative;
        top: 40px;
        width: 320px;
        height: 152px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 169.8%;
        opacity: 50%;
        padding: 0px 20px;
    }
    .repair2-2-lg span{
        position: absolute;
        top: 375px;
        width: 150px;
        height: 55px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 138.6%;
        background: #e3b873;
    }
    .repair2-2-lg span:last-child{
        left: 155px;
    }
    .group22{
        position: absolute;
        width: 32px;
        height: 32px;
        z-index: 1;
        left: 18px;
        top: 10px;
    }
    .m22 {
        position: absolute;
        bottom: 0px;
        left: 65px;
        z-index: 1;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .group2{
        position: absolute;
        width: 32px;
        height: 32px;
        z-index: 1;
        left: 18px;
        top: 10px;
    }
    .days2{
        position: absolute;
        bottom: 0px;
        left: 65px;
        z-index: 1;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .repair2-3-lg{
        position: absolute;
        right: 0px;
        background: white;
        width: 380px;
        height: 430px;
        box-shadow: 5px 10px 20px rgb(0 0 0 / 5%);
    }
    .repair2-3-lg-img{
        position: relative;
        top: 20px;
        left: 20px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    .repair2-3-lg h6{
        position: absolute;
        top: 25px;
        left: 120px;
        width: 184px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 138.6%;
    }

    .opisanie3{
        position: relative;
        top: 40px;
        width: 320px;
        height: 152px;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 169.8%;
        opacity: 50%;
        padding: 0px 20px;
    }
    .repair2-3-lg span{
        position: absolute;
        top: 375px;
        width: 150px;
        height: 55px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 138.6%;
        background: #e3b873;
    }
    .repair2-3-lg span:last-child{
        left: 155px;
    }
    .group23{
        position: absolute;
        width: 32px;
        height: 32px;
        z-index: 1;
        left: 18px;
        top: 10px;
    }
    .m23 {
        position: absolute;
        bottom: 0px;
        left: 65px;
        z-index: 1;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .group3{
        position: absolute;
        width: 32px;
        height: 32px;
        z-index: 1;
        left: 18px;
        top: 10px;
    }
    .days3{
        position: absolute;
        bottom: 0px;
        left: 65px;
        z-index: 1;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    /*второй слайдер скрытый*/
    .carousel2{
        visibility: hidden;
    }
    /*блок 4 скрытый*/
    .main4{
        visibility: hidden;
    }
    .main4-lg{
        visibility: visible;
        position: relative;
        top: 2332px;
        height: 870px;
        background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
    }
    .main4-lg-img{
        position: absolute;
        height: 870px;
    }
    .questions-lg{
        position: relative;
        width: 300px;
        height: 66px;
        top: 140px;
    }
    .questions-lg h1{
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: white;
    }
    /*форма2 начало*/
    .input2-lg {
        position: relative;
        display: block;
        bottom: 237px;
        background: #000;
        width: 931px;
        height: 490px;
        left: 30px;
    }

    .input2-lg input{
        position: relative;
        display: block;
        border: none;
    }
    .input2 h6 {
        color: white;
        font-family: 'Nunito Sans';
        opacity: 50%;
    }
    .name2-lg {
        position: relative;
        top: 80px;
        left: 16px;
    }
    .number2-lg {
        position: relative;
        bottom: 25px;
        left: 305px;
    }
    .form2-lg {
        position: relative;
        padding: 10px 180px;
    }
    .top2-lg {
        position: relative;
        margin-top: 60px;
        top: 20px;
        margin-left: 15px;
        width: 346px;
        background: none;
        color: white;
    }
    .input-top2-lg{
        position: absolute;
        margin-left: 18px;
        width: 230px;
        background: #ffffff;
        border-radius: 2px;
        border: 1px solid rgba(54, 54, 54, 0.7);
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
    .middle2-lg {
        position: relative;
        bottom: 35px;
        left: 290px;
        margin-left: 15px;
        width: 346px;
        background: none;
        color: white;
    }
    .input-middle2-lg{
        position: absolute;
        top: 115px;
        left: 470px;
        margin-left: 18px;
        width: 230px;
        background: #ffffff;
        border-radius: 2px;
        border: 1px solid rgba(54, 54, 54, 0.7);
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
    .questions2-lg {
        position: relative;
        top: 55px;
        left: 16px;
    }
    .bottom2-lg {
        position: relative;
        margin-top: 30px;
        top: 20px;
        margin-left: 15px;
        width: 346px;
        background: none;
        color: white;
    }
    .input-bottom2-lg{
        position: absolute;
        margin-left: 18px;
        width: 525px;
        background: #ffffff;
        border-radius: 2px;
        border: 1px solid rgba(54, 54, 54, 0.7);
        transform: matrix(1, 0, 0, -1, 0, 0);
    }
    .checkbox2-lg {
        position: relative;
        display: inline-flex;
        width: 340px;
        top: 55px;
        left: 130px;
        color: white;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 163.68%;
    }
    .checkbox2-lg p{
        position: relative;
        margin-left: 5px;
    }
    .form-control2-lg {
        bottom: 8px;
        width: 18px;
    }
    .submit2-lg {
        display: flex;
        position: absolute;
        top: 370px;
        left: 355px;
        float: center;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: row;
        width: 200px;
        height: 50px;
    }
    /*форма2 конец*/
    .footer-lg {
        visibility: visible;
        width: 375px;
        height: 220px;
        position: relative;
        top: 60px;
    }
    .adress-lg{
        position: absolute;
        width: 340px;
        height: 66px;
    }
    .adress-lg h1{
        position: relative;
        bottom: 255px;
        width: 490px;
        font-family: 'Yeseva One';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 138.6%;
        text-align: center;
        text-transform: uppercase;
        color: #E3B873;
    }
    .soc-lg {
        position: relative;
        width: 340px;
        height: 36px;
        bottom: 190px;
        left: 110px;
    }
    .soc-lg button {
        width: 36px;
        height: 36px;
        background: #E3B873; 
        border-radius: 50%;
        margin: 10px;
    }
    .p-lg {
        position: relative;
        bottom: 2px;
    }
    .kvadrat-lg{
        width: 16px;
        height: 16px;
        border: white 1.5px solid;
        border-radius: 3px;
    }
    .krug-lg{
        position: relative;
        top: 2px;
        width: 8px;
        height: 8px;
        border: white 1.5px solid;
        border-radius: 50%;
    }
    .pismo-lg{
        width: 20px;
    }
    .pismo-lg span{
        position: relative;
        width: 19px;
        height: 15px;
        color: white;
    }
        /*карта начало*/
    .map-lg {
        position: relative;
        overflow: hidden;
        width: 4;
        right: 250px;
        bottom: 130px;
        width: 930px;
        height: 400px;
    }
    .a1-lg {
        color:#eee;
        font-size:12px;
        position:absolute;
        top:0px;
    } 
    .a2-lg {
        color:#eee;
        font-size:12px;
        position:absolute;
        top:14px; 
    }
    .a3-lg {
        color:#eee;
        font-size:12px;
        position:absolute;
        top:28px;
    }
    .map-frame-lg {
        position:relative;
    }
        /*карта конец*/
    /*скрытый блок футер*/
    .footer{
        visibility: hidden;
    }
    footer{
        position: relative;
        width: 1440px;
        height: 100px;
        top: 2160px;
    }
