* {
    width: 375px;
    margin: 0 auto;
}
body {
    
}
.header {
    position: relative;
    background-color: black;
    height: 57px;
    width: 375px;
}
.logo {
    display: inline;

    position: relative;
    left: 18px;
    top:20px;
    margin: 20px 0;
    font-family:Nunito Sans;
    weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #E3B873;
}
.phone {
    display: inline;
    position: relative;
    left: 150px;
    top:20px;
    font:Nunito Sans;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
}
.tel {
    text-decoration: none;
    color:white;
}
.main1{
    width: 375px;
    height: 476px;
    position: relative;
    background: rgba(0, 0, 0, 0.9);
    display: block;
    word-wrap: break-word;
}
.img {
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
    
}
.text {
    height: 60px;
    width: 339px;
    margin-right:18px;
    position: relative;
    bottom: 394px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
.text h1 {
    text-transform: uppercase;
    color: white;
}
.text h1 span {
    text-transform: uppercase;
    color: #E3B873;
}
.paragraf1{
    position: relative;
    bottom: 376px;
    color: white;
    word-wrap: break-word;
}