* {
    box-sizing: border-box;
    width: 1440x;
    margin: 0 auto;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Yeseva One', cursive;
}
button {
    width: 338px;
    height: 60px;
    border-radius: 0;
    background: #e3b873;
    color: white;
    font-family: 'Nunito Sans';
    border: none;
}
.header {
    position: relative;
    background-color: black;
    height: 57px;
    width: 375px;
}
.logo {
    display: inline;

    position: relative;
    left: 18px;
    top:20px;
    margin: 20px 0;
    font-family:Nunito Sans;
    weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #E3B873;
}
.phone {
    display: inline;
    position: relative;
    left: 125px;
    top:20px;
    font:Nunito Sans;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
}
.tel {
    text-decoration: none;
    color:white;
}
.main1{
    width: 375px;
    height: 476px;
    position: relative;
    background: rgba(0, 0, 0, 0.9);
    display: block;
}
.img {
    width: 375px;
    height: 476px;
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
    
}
.img img{
    width: 375px;
    height: 476px;
}
.text {
    height: 60px;
    width: 339px;
    margin-right:18px;
    position: relative;
    bottom: 394px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
.text h1 {
    text-transform: uppercase;
    color: white;
    height: 60px;
    width: 339px;
}
.text h1 span {
    text-transform: uppercase;
    color: #E3B873;
}
.paragraf1{
    position: relative;
    bottom: 376px;
    color: white;
}
.paragraf1 p {
    font-family: 'Nunito Sans', sans-serif;
    width: 336px;
    height: 80px;
    left: 18px;
    line-height: 135.84%;
}
.button-main1 {
    position: relative;
    bottom: 344px;
    text-align: center;
}
.button2 {
    background: none;
    border: 2px solid white;
    margin-top: 26px;
}
.main2 {
    width: 375px;
    height: 1600px;
    background: black;
    margin: 0 auto;
}
.text1{
    position: relative;
    top: 36px;
    text-transform: uppercase;
    color: #E3B873;
    font-family: 'Yeseva One', cursive;
    font-size: 22px;
    text-align: center;
}
.text1 h1{
    width: 353px;
    height: 66px;
}
.paragraf2{
    position: relative;
    top: 100px;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    
}
.paragraf2 p{
    width: 311px;
    height: 86px;
    text-align: center;
    line-height: 158.48%;
}
.carusel{
    width: 340px;
    
}
.carusel img{
    position: relative;
    top: 100px;   
}
.control {
    position:relative;
    display: inline;
    bottom: 45px;
}
.carousel-control-prev{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-left: 14px;
    font-size: 22px;
    font-weight: bold;
}
.carousel-control-next{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-left: 230px;
    font-size: 22px;
    font-weight: bold;
}
.city {
    position: relative;
    display: inline-block;
    width: 375px;
    height: 145px;
    margin: 0 auto;
}
.city2 {
    position: relative;
    top: 110px;
    right: 12px;
    text-transform: uppercase;
    color: #E3B873;
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    text-align: center;
}
.city3{
    position: relative;
    top: 11px;
    text-transform: uppercase;
    color: #E3B873;
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    display: inline;
}
.text2 {
    width: 59px;
    height: 20px;
    font-size: 14px;
    position: relative;
    right: 28px;
    
}
.text3 {
    width: 160px;
    height: 20px;
    margin-left: 68px;
    font-size: 14px;
    position: relative;
    left: 28px;
}
.text4 {
    position: relative;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    top: 11px;
    right: 120px;
}
.text4 p{
    position: relative;
    top: 100px;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    width: 99px;
    height: 37px;
}
.text5 {
    position: relative;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    top: 11px;
    left: 120px;
}
.text5 p{
    position: relative;
    top: 62px;
    right: 105px;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    width: 42px;
    height: 13px;
}
.city4 {
    position: relative;
    top: 130px;
    right: 12px;
    text-transform: uppercase;
    color: #E3B873;
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    text-align: center;
}
.city5{
    position: relative;
    top: 38px;
    text-transform: uppercase;
    color: #E3B873;
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    display: inline;
}
.text6 {
    width: 59px;
    height: 20px;
    font-size: 14px;
    position: relative;
    right: 28px;
    
}
.text7 {
    width: 160px;
    height: 20px;
    margin-left: 68px;
    font-size: 14px;
    position: relative;
    right: 30px;
}
.text8 {
    position: relative;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    top: 11px;
    right: 137px;
}
.text8 p{
    position: relative;
    top: 90px;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    width: 70px;
    height: 13px;
}
.text9 {
    position: relative;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    top: 11px;
    left: 120px;
}
.text9 p{
    position: relative;
    top: 78px;
    right: 82px;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    width: 89px;
    height: 13px;
}
.vector {
    position: relative;
    top: 150px;
    width: 224px;
    height: 24px; 
}
.text10{
    position: relative;
    top: 10px;
    right: 75px;
    text-transform: uppercase;
    color: white;
    font-family: 'Yeseva One', cursive;
    font-size: 22px;
    text-align: center;
    width: 375px;
    height: 25px;
}

.image {
    position: relative;
    left: 60px;
    top: 27px;
 }
 .image img{
    position: relative;
    top: 12px;
 }
.left {
    position: relative;
    display: inline-block;
    border: none;
    width: 32px;
    height: 1px;
    background: #E3B873;
    border-radius: 2px;
}
.right {
    position: relative;
    display: inline-block;
    border: none;
    width: 32px;
    height: 1px;
    background: #E3B873;
    border-radius: 2px;
}
.video {
    width: 340px;
    height: 207px;
}
.video video{
    position: relative;
    top: 70px;
    right: 60px;
    width: 340px;
    height: 207px;
    border: none;
}
.video-button {
    position: absolute;
    top: 185px;
    right: 45%;
    width:37px;
    height:37px;
    background: #E3B873;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
    border-radius: 50%;
}
.razdel {
    position: relative;
    display: block;
    border: none;
    top: 100px;
    width: 55px;
    height: 1px;
    background: #E3B873;
    border-radius: 2px;
}
.paragraf3{
    position: relative;
    top: 125px;
    right: 60px;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11px;
    text-align: center;
    width: 340px;
    
}
.paragraf3 p{
    width: 340px;
    height: 86px;
    text-align: center;
    line-height: 158.48%;
}
.input {
    position: relative;
    display: block;
    top: 600px;
}
.input input{
    position: relative;
    display: block;
    border: none;
}
.input h6 {
    color: white;
    font-family: 'Nunito Sans';
    opacity: 50%;
}
.name {
    position: relative;
    top: 80px;
    left: 16px;
}
.number {
    position: relative;
    top: 80px;
    left: 16px;
}
.top {
    position: relative;
    margin-top: 80px;
    width: 346px;
    background: none;
    color: white;
}
.input-top{
   width: 340px;
   height: 2px;
}
.bottom {
    position: relative;
    margin-top: 80px;
    width: 346px;
    background: none;
    color: white;
}
.input-bottom{
    width: 340px;
    height: 2px;
 }
 .checkbox {
    position: relative;
    display: inline-flex;
    width: 277px;
    top: 28px;
    left: 16px;
    color: white;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
 }
 .submit {
    position: relative;
    top: 107px;
    left: 16px;
 }

.main3 {
    width: 375px;
    height: 1600px;
    margin: 0 auto;
}
.study{
    background: #ffffff no-repeat center;
    background-size: cover;
    width: 1250px;
    height: 650px;
}

.slider{
    max-width: 960px;
    margin: 40px auto 0px;
}